.btn {
  padding: 5px 20px;
}

.btn.btn-laranja {
  background: deepskyblue;
  color: white;
  border-radius: 50px;
  text-shadow: 0 0 8px rgb(3, 156, 207);
}

.btn.btn-laranja:hover {
  background: rgb(3, 156, 207);
  color: white;
  border-radius: 50px;
}