.btn {
  padding: 5px 20px;
}

.btn.btn-blue,
.btn.btn-blue:hover {
  background: deepskyblue;
}

.btn.btn-blue {
  color: #333366;
  border-radius: 15px;
  text-shadow: 0 0 8px rgb(3, 156, 207);
}

.btn.btn-blue:hover {
  color: #333366;
  border-radius: 15px;
}