Header section {
  justify-content: space-between;
  align-items: center;
}

header nav {
  margin: 0 0 0 200px;
}

.Barra-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.Barra-nav li {
  margin: 0 15px;
}

.Barra-nav li a,
.Barra-nav ul li a:hover {
  color: #333366;
}

.Barra-nav li a {
  padding: 5px 20px;
}

Header nav ul li a:hover {
  background: deepskyblue;
  border-radius: 15px;
}