Header section {
  justify-content: right;
  align-items: center;
}

header nav {
  margin: 0 0 0 200px;
}

Header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

Header nav ul li {
  margin: 0 15px;
}

Header nav ul li a,
Header nav ul li a:hover {
  color: #333366;
}

Header nav ul li a {
  padding: 5px 20px;
}

Header nav ul li a:hover {
  background: deepskyblue;
  border-radius: 15px;
}